<h3>Create Player</h3>


<form  [formGroup]="createForm" (ngSubmit)="onSubmit(createForm)">

    <label for="shirtno">Shirt No:</label>
    <input id="shirtno" type="text"  formControlName="shirtno">

    <label for="name">Name:</label>
    <input id="name" type="text"  formControlName="name">

    <label for="positionid">Position:</label>

    <select id="positionid" formControlName="positionid">
        <option value=""></option>
        <option *ngFor = "let position of positions" [value]="position.id"></option>
    </select>
    <!-- <input id="positionid" type="text"  formControlName="positionid"> -->

    <label for="appearances">Appearances:</label>
    <input id="appearances" type="text" formControlName="appearances">

    <label for="goals">Goals:</label>
    <input id="goals" type="text"  formControlName="goals">

    <button type="submit">Create</button>
</form>