
<table>
    <thead>
        <th>Id</th>
        <th>Shirt No</th>
        <th>Name</th>
        <th>Position</th>
        <th>Appearances</th>
        <th>Goals</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of players">

            <td>{{p.id}}</td>
            <td>{{p.shirtno}}</td>
            <td>{{p.name}}</td>
            <td>{{p.position?.name}}</td>
            <td>{{p.appearances}}</td>
            <td>{{p.goals}}</td>
            <td>

                <button id="edit" (click)="deletePlayer(p.id)">Edit</button>
                <a href="#" [routerLink]="['/players/',p.id,'details']">View</a>
                 <button id="delete" (click)="deletePlayer(p.id)">Delete</button>


            </td>
           


        </tr>
    </tbody>
</table>

 <!--id:number
    shirtno : number
    name : string
    positionid?:number
    appearances?:number
    goals?:number
    position?:Position --> 