
<table>
    <thead>
        <th>Id</th>
        <th>Shirt No</th>
        <th>Name</th>
        <th>Position</th>
        <th>Appearances</th>
        <th>Goals</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor="let p of Players">

            <td>{{p.id}}</td>
            <td>{{p.shirtno}}</td>
            <td>{{p.name}}</td>
            <td>{{p.}}</td>
            <td>{{p.id}}</td>
            <td>{{p.id}}</td>
            <td>{{p.id}}</td>



        </tr>
    </tbody>
</table>

<!-- id:number
    shirtno : number
    name : string
    positionid?:number
    appearances?:number
    goals?:number
    position?:Position -->